@page "/Configuration/{organizationId}/{realmId}/{sectionId}"
<h3>Configuration</h3>

@code {

    [Parameter]
    public string OrganizationId { get; set; }

    [Parameter]
    public string RealmId { get; set; }

    [Parameter]
    public string SectionId { get; set; }

}

<h2>@OrganizationId/@RealmId/@SectionId</h2>