@page "/Organizations"
@using Allard.Configinator.Core.Infrastructure
@using Allard.Configinator.Core.Model
@inject IOrganizationQueries OrganizationQueries;
@inject IOrganizationRepository OrganizationRepository;
<h2>Organizations</h2>

@if (organizationIds == null || model == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Organization Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var org in organizationIds)
        {
            <tr>
                <td>
                    <a href="/organization/@org.Id">@org.Id</a>
                </td>
                <td>@org.Id</td>
            </tr>
        }
        </tbody>
    </table>
}
<h2>Create Organization</h2>
<div hidden="@hideAddDialog">
    <EditForm Model="@model" OnSubmit="AddOrg">
        <InputText id="name" @bind-Value="model.Name"></InputText>
        <input type="submit" value="Add"/>
    </EditForm>
</div>

@code {
    private OrganizationId[] organizationIds;
    private bool hideAddDialog;
    private readonly CreateOrganizationModel model = new();

    protected override void OnInitialized()
    {
        LoadOrganizations();
    }

    private void LoadOrganizations()
    {
        organizationIds = OrganizationQueries.GetOrganizationIds().ToArray();
    }

    private void ShowAddDialog()
    {
        hideAddDialog = !hideAddDialog;
    }

    private async Task AddOrg()
    {
        var orgId = new OrganizationId(model.Name);
        var org = new OrganizationAggregate(orgId);
        await OrganizationRepository.SaveAsync(org);
        LoadOrganizations();
    }

}