@page "configuration/{organizationId}/{realmId}/{sectionId}/{habitatId}
@using Allard.Configinator.Core.Infrastructure
@using System.Security.Cryptography.X509Certificates
@model Allard.Configinator.RazorPages.Pages.Configuration
@inject IOrganizationRepository repo;
@{
    ViewData["Title"] = "Configinator";
    
    @Model.org
    
}
<h1>boo</h1>
