@model Allard.Configinator.Mvc.Views.Configinator.ExplainedViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<table>
    @foreach (var x in Model.Properties)
    {
        <tr>
            <td>@x.Name</td>
            <td>@x.Path</td>
            <td>@x.Value</td>
            <td>@x.LastTransition</td>
        </tr>
    }
</table>