@using Allard.Configinator.Core.DocumentMerger
@using Allard.Configinator.Blazor.Shared.ViewModels

@code {

    [Parameter]
    public ExplainedProperty Property { get; set; }

    [Parameter]
    public bool Edit { get; set; } = true;

}

<table class="table table-bordered">
    <thead>
    <tr>
        <th colspan="2">
            <h3>@Property.Name</h3>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var c in Property.Children.Where(c => c.Children.Count == 0))
    {
        <tr>
            <td>@c.Name</td>
            <td>
                @if (Edit)
                {
                    <input @bind="c.Value" @bind:event="oninput"/>
                }
                else
                {
                    @c.Value
                }
                    @if (c.Layers.Last().Transition == "Inherit")
                    {
                        <span style="margin-left:15px" class="badge-pill badge-primary">Inherited</span>
                    }
            </td>
        </tr>
    }
    </tbody>
</table>