@using Allard.Configinator.Core.DocumentMerger
@using Allard.Configinator.Blazor.Shared.ViewModels

@code {

    [Parameter]
    public ExplainedObject Object { get; set; }

    [Parameter]
    public bool Edit { get; set; } = true;

}

<table class="table table-bordered">
    <thead>
    <tr>
        <th colspan="2">
            <h3>@Object.Name</h3>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var p in Object.Properties)
    {
        <tr>
            <td>@p.Name</td>
            <td>
                @if (Edit)
                {
                    <input @bind="p.Value" @bind:event="oninput"/>
                }
                else
                {
                    @p.Value
                }
                @if (p.Layers.Last().Transition == "Inherit")
                {
                    <span style="margin-left:15px" class="badge-pill badge-primary">Inherited</span>
                }
            </td>
        </tr>
    }

    @foreach (var o in Object.Objects)
    {
        <ConfigurationSection Edit=@Edit Object=@o/>
    }
    </tbody>
</table>